UIApp/output.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FrameworkElement" nillable="true" type="FrameworkElement" />
  <xs:complexType name="FrameworkElement">
    <xs:complexContent mixed="false">
      <xs:extension base="UIElement">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ActualWidth" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="ActualHeight" type="xs:float" />
          <xs:element minOccurs="0" maxOccurs="1" name="DataContext" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UIElement">
    <xs:complexContent mixed="false">
      <xs:extension base="Visual">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Visibility" type="Visibility" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsEnabled" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Focusable" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="RenderSize" type="Vector2" />
          <xs:element minOccurs="1" maxOccurs="1" name="HorizontalAlignment" type="HorizontalAlignment" />
          <xs:element minOccurs="1" maxOccurs="1" name="VerticalAlignment" type="VerticalAlignment" />
          <xs:element minOccurs="1" maxOccurs="1" name="Padding" type="Thickness" />
          <xs:element minOccurs="1" maxOccurs="1" name="Margin" type="Thickness" />
          <xs:element minOccurs="1" maxOccurs="1" name="Width" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="Height" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="MinWidth" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="MinHeight" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="MaxWidth" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="MaxHeight" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Visual">
    <xs:complexContent mixed="false">
      <xs:extension base="DependencyObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="VisualParent" type="Visual" />
          <xs:element minOccurs="0" maxOccurs="1" name="VisualChildren" type="ArrayOfVisual" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DependencyObject" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Parent" type="DependencyObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfVisual">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Visual" nillable="true" type="Visual" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Visibility">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Visible" />
      <xs:enumeration value="Hidden" />
      <xs:enumeration value="Collapsed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Vector2">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="X" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="Y" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="HorizontalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="Stretch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VerticalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Top" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Bottom" />
      <xs:enumeration value="Stretch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Thickness">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Top" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="Right" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="Left" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="Bottom" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UIElement" nillable="true" type="UIElement" />
  <xs:element name="UIWindow" nillable="true" type="UIWindow" />
  <xs:complexType name="UIWindow">
    <xs:complexContent mixed="false">
      <xs:extension base="ContentControl">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="BackgroundColor" type="Color" />
          <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Children" type="ArrayOfUIElement" />
          <xs:element minOccurs="1" maxOccurs="1" name="X" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="Y" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContentControl">
    <xs:complexContent mixed="false">
      <xs:extension base="Control">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Content" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Control">
    <xs:complexContent mixed="false">
      <xs:extension base="FrameworkElement">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Foreground" type="Brush" />
          <xs:element minOccurs="0" maxOccurs="1" name="Background" type="Brush" />
          <xs:element minOccurs="0" maxOccurs="1" name="Border" type="Brush" />
          <xs:element minOccurs="1" maxOccurs="1" name="BorderThickness" type="Thickness" />
          <xs:element minOccurs="0" maxOccurs="1" name="FontFamilyName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="FontStyle" type="FontStyle" />
          <xs:element minOccurs="1" maxOccurs="1" name="FontWeight" type="FontWeight" />
          <xs:element minOccurs="1" maxOccurs="1" name="IncrementalTabStop" type="xs:float" />
          <xs:element minOccurs="1" maxOccurs="1" name="FlowDirection" type="FlowDirection" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReadingDirection" type="ReadingDirection" />
          <xs:element minOccurs="1" maxOccurs="1" name="WordWrapping" type="WordWrapping" />
          <xs:element minOccurs="1" maxOccurs="1" name="ParagraphAlignment" type="ParagraphAlignment" />
          <xs:element minOccurs="1" maxOccurs="1" name="TextAlignment" type="TextAlignment" />
          <xs:element minOccurs="1" maxOccurs="1" name="FontSize" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Brush" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="UIResource" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UIResource" abstract="true" />
  <xs:simpleType name="FontStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Regular" />
      <xs:enumeration value="Italic" />
      <xs:enumeration value="Bold" />
      <xs:enumeration value="BoldItalic" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FontWeight">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Thin" />
      <xs:enumeration value="ExtraLight" />
      <xs:enumeration value="UltraLight" />
      <xs:enumeration value="Light" />
      <xs:enumeration value="SemiLight" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Regular" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="DemiBold" />
      <xs:enumeration value="SemiBold" />
      <xs:enumeration value="Bold" />
      <xs:enumeration value="ExtraBold" />
      <xs:enumeration value="UltraBold" />
      <xs:enumeration value="Black" />
      <xs:enumeration value="Heavy" />
      <xs:enumeration value="ExtraBlack" />
      <xs:enumeration value="UltraBlack" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FlowDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TopToBottom" />
      <xs:enumeration value="BottomToTop" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReadingDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LeftToRight" />
      <xs:enumeration value="RightToLeft" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WordWrapping">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoWrap" />
      <xs:enumeration value="Wrap" />
      <xs:enumeration value="WrapWord" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ParagraphAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Justify" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TextAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Leading" />
      <xs:enumeration value="Trailing" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Justified" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Color">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="R" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="G" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="B" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="A" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfUIElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UIElement" nillable="true" type="UIElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Button" nillable="true" type="Button" />
  <xs:complexType name="Button">
    <xs:complexContent mixed="false">
      <xs:extension base="ButtonBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="HighlightBrush" type="Brush" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ButtonBase">
    <xs:complexContent mixed="false">
      <xs:extension base="ContentControl">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ClickMode" type="ClickMode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ClickMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Release" />
      <xs:enumeration value="Press" />
      <xs:enumeration value="Hover" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ButtonBase" nillable="true" type="ButtonBase" />
  <xs:element name="ContentControl" nillable="true" type="ContentControl" />
  <xs:element name="Control" nillable="true" type="Control" />
  <xs:element name="Grid" nillable="true" type="Grid" />
  <xs:complexType name="Grid">
    <xs:complexContent mixed="false">
      <xs:extension base="Panel">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ColumnDefinitions" type="ArrayOfColumnDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="RowDefinitions" type="ArrayOfRowDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Panel">
    <xs:complexContent mixed="false">
      <xs:extension base="FrameworkElement">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Children" type="ArrayOfUIElement" />
          <xs:element minOccurs="0" maxOccurs="1" name="Background" type="Brush" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfColumnDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnDefinition" nillable="true" type="ColumnDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ColumnDefinition">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MinWidth" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="MaxWidth" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="Width" type="GridLength" />
      <xs:element minOccurs="1" maxOccurs="1" name="ActualWidth" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GridLength">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="GridUnitType" type="GridUnitType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GridUnitType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto" />
      <xs:enumeration value="Pixel" />
      <xs:enumeration value="Star" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfRowDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RowDefinition" nillable="true" type="RowDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RowDefinition">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MinHeight" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="MaxHeight" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="Height" type="GridLength" />
      <xs:element minOccurs="1" maxOccurs="1" name="ActualHeight" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Image" nillable="true" type="Image" />
  <xs:complexType name="Image">
    <xs:complexContent mixed="false">
      <xs:extension base="FrameworkElement">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Stretch" type="Stretch" />
          <xs:element minOccurs="1" maxOccurs="1" name="StretchDirection" type="StretchDirection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Stretch">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fill" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Uniform" />
      <xs:enumeration value="UniformFill" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StretchDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Horizontal" />
      <xs:enumeration value="Vertical" />
      <xs:enumeration value="Both" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Label" nillable="true" type="Label" />
  <xs:complexType name="Label">
    <xs:complexContent mixed="false">
      <xs:extension base="ContentControl" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Panel" nillable="true" type="Panel" />
  <xs:element name="StackPanel" nillable="true" type="StackPanel" />
  <xs:complexType name="StackPanel">
    <xs:complexContent mixed="false">
      <xs:extension base="Panel">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Direction" type="StackPanelDirection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="StackPanelDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Vertical" />
      <xs:enumeration value="Horizontal" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>